body {
    font-family: 'Arial', sans-serif;
}

.error {
    margin: 1rem;
    padding: .5rem;
    background: rgba(255, 0, 0, .2);
    color: red;
    border: 1px solid red;
    border-radius: 8px;
}
.success {
    margin: 1rem;
    padding: .5rem;
    background: rgba(0, 255, 0, .2);
    color: green;
    border: 1px solid green;
    border-radius: 8px;
}
